body {
  margin: 0;
  padding: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkturquoise;
}

button {
  background-color: rgb(143, 197, 93);
  color: white;
  width: 45%;
  height: 45px;
  font-size: 20pt;
  cursor: pointer;
  border:none;
  margin: 2px;
}

.yahtzee-game {
  background-color: whitesmoke;
  padding: 2%;
  margin: 2%;
  border-style: double;
  border-width: 10px 10px 10px 10px;
  width: 500px;
  margin-left: auto;
  margin-right:auto;
}

.yahtzee-game>h1 {
  font-size: 20pt;
}

.dice-row {
  font-size: 10pt;
  display: grid;
  grid-template-columns: 150px 100px auto 50px 50px;
  border:1px solid black;
  height: 50px;
  padding: 0;
  margin: 0;
 background-color:white;
}

.dice-row-label {
  display:grid;
  grid-template-columns: 50px 60px 40px;
  vertical-align: middle;
  margin-left:5px;
}
.dice-row-howto{
  font-size: 8pt;
  margin-left: 5px;
}

.dice-row-label>div>p {
  display: grid;
  vertical-align: middle;
}

.dice-row-label>div>p>image {
  width: 40px;
  position: relative;
  bottom:9px;
}

.dice-row-counts{
  margin-top:10px;
  text-align: center;
  vertical-align: middle;
  font-size: 18pt;
}

.bump{
  margin-right:11px;
  font-weight: bold;
  color:white;
}

.singleDiceScoreSection {
  display: grid;
  grid-template-columns: auto 100px;
  background-color: tomato;
  padding:5px;
  vertical-align: initial;
  font-size: 18pt;
  text-align: right;
}

